Package: com.jake0oo0.appster
Name: Appster
Version: 0.0.1
Depends: firmware (>= 8.0), mobilesubstrate, applist
Architecture: iphoneos-arm
Description: Get important info for installed apps and tweaks
Maintainer: Jake0oo0 <jake0oo0dev@gmail.com>
Author: Jake0oo0 <jake0oo0dev@gmail.com>
Section: Utilities
