Package: com.jake0oo0.appster
Name: Appster
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Get important info for installed apps and tweaks
Maintainer: Jake0oo0 <jake0oo0dev@gmail.com>
Author: Jake0oo0 <jake0oo0dev@gmail.com>
Section: Utilities
