Package: com.jake0oo0.appster
Name: Appster
Version: 1.0.1
Depends: firmware (>= 8.0), mobilesubstrate, applist
Architecture: iphoneos-arm
Description: View and export info and content from your iDevice
Homepage: https://cydia.jakes.site/depictions/?p=com.jake0oo0.appster
Maintainer: Jake0oo0 <jake0oo0dev@gmail.com>
Author: Jake0oo0 <jake0oo0dev@gmail.com>
Section: Utilities
